@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a asp-controller="Clients" asp-action="Create">Registrarse</a>
    </div>
    <div>
        <a asp-controller="Clients" asp-action="Login">Ingresar</a>
    </div>
</div>
