@model MVCHomeBanking.Models.Movement

@{
    ViewData["Title"] = "Realizar un movimiento";
    Layout = "doMovement";
}

<h1>View</h1>

<h4>Movement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="value" class="control-label"></label>
                <input asp-for="value" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <select asp-for="type" class="form-control"></select>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="originAccountId" class="control-label"></label>
                <input asp-for="originAccountId" class="form-control" />
                <span asp-validation-for="originAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="destinationAccountId" class="control-label"></label>
                <input asp-for="destinationAccountId" class="form-control" />
                <span asp-validation-for="destinationAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="doMovement" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
