@model MVCHomeBanking.Models.Movement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function () {
        $('#typeSelected').on('change', function () {
            if (this.value == 'TRANSFER')
            {
                $("#destionationAccount").show();
            }
            else {
                $("#destionationAccount").hide();
            }
        });
    });
</script>


<h4>Movement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="value" class="control-label"></label>
                <input asp-for="value" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
            <div class="form-group" id="selectionOfType">
                <label asp-for="type" class="control-label"></label>
                <select asp-for="type" name="type" id="typeSelected"
                        asp-items="ViewBag.RequiredType">
                    
                </select>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="originAccountId" class="control-label"></label>
                <input asp-for="originAccountId" class="form-control" value="@ViewBag.originAccount" />
                <span asp-validation-for="originAccountId" class="text-danger"></span>
            </div>
            <div class="form-group" id="destionationAccount" style="display:none;">
                <label asp-for="destinationAccountId" class="control-label"></label>
                <input asp-for="destinationAccountId" class="form-control" />
                <span asp-validation-for="destinationAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-route-id="@ViewBag.originAccount" asp-controller="Accounts" asp-action="Details">Volver a la cuenta</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
